<section class="pb-20 px-20">
  <div class="">
    <div class="text-center">
      <h1 class="font-bold text-3xl md:text-4xl text-gray-800 pb-16">Quer elevar seu software e seus negócios para outro nível?</h1>
      <button class="rounded-xl text-2xl p-6 bg-violet-700 text-white font-bold">Fale com nossos especialistas</button>
    </div>

    <div class="flex items-start justify-between pt-20">
      <img src="/assets/logo.png" class="w-[88px] h-[88px] rounded-full" alt="logo" />

      <div class="flex items-end space-x-4">
        <img src="/assets/face.png" class="w-[66px] h-[66px]" alt="face" />
        <img src="/assets/insta.png" class="w-[66px] h-[66px]" alt="insta" />
      </div>
    </div>


  </div>

</section>
