<app-header></app-header>
<main >
  <section >
    <div class="grid grid-cols-1 sm:grid-cols-2 place-items-center">
      <div class="py-20 px-20">
        <span class="font-bold text-2xl">KIPPER CONSULTORIA</span>
        <h1 class="font-extrabold text-3xl  md:text-5xl">A consultoria que você busca para o seu
          software</h1>
      </div>
      <div>
        <img ngSrc="/assets/principal.png" width="669" height="536"/>
      </div>
    </div>
  </section>

  <section class="py-20 px-20">
    <div class=" flex items-center justify-center text-2xl md:text-4xl font-semibold ">
      95% das<br/>
      empresas
      <div class="my-4 border-b-2 border-purple-900"></div>
      <p class="text-gray-700 pl-10">
        não sabem como lidar com os problemas de <b>escalabilidade</b> e grande volume
         de requisições.
      </p>
      <div class="my-4 border-b-4 border-purple-900"></div>
    </div>
  </section>
  <section class="flex items-center justify-center py-12">
    <btn-primary class="font-bold rounded-xl md:text-2xl bg-violet-600 text-white p-6" btn-text="Fale com nossos especialistas"></btn-primary>
  </section>

  <newsletter-form>
  </newsletter-form>

  <section class="grid grid-cols-1 gap-x-6 px-20 md:grid-cols-2 md:px-10 lg:px-20 py-20">
    <div class="text-center text-semibold text-xl md:text-xl md:mt-0">
      <div class="flex items-center justify-center">
        <img src="/assets/team.png" class="w-full h-auto max-w-[600px]" alt="Equipe Capacitada" />
      </div>
      <div class="py-10">
        <h3 class="text-3xl font-bold text-gray-800">Equipe Capacitada</h3>
        <p class="text-gray-600 pt-10">Nossa equipe é composta por profissionais altamente capacitados e treinados constantemente com foco em oferecer o melhor atendimento e conteúdo personalizado para o seu negócio. Com foco nos resultados dos nossos clientes, seu sucesso é a nossa prioridade!</p>
      </div>
    </div>

    <div class="text-center text-semibold text-xl md:text-xl  md:mt-0 ">
      <div class="flex items-center justify-center">
        <img src="/assets/project-guide.png" class="w-full h-auto max-w-[600px]" alt="Projeto Guia" />
      </div>
      <div class="py-10">
        <h3 class="text-3xl font-bold text-gray-800">Projeto Guia</h3>
        <p class="text-gray-600 pt-10">Nossa equipe é composta por profissionais altamente capacitados e treinados constantemente com foco em oferecer o melhor atendimento e conteúdo personalizado para o seu negócio. Com foco nos resultados dos nossos clientes, seu sucesso é a nossa prioridade!</p>
      </div>
    </div>
  </section>
  <footer></footer>




</main>
